<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BeyondContact - A Product of Joompal</display-name>
  
  <servlet>
    	<servlet-name>dwr-invoker</servlet-name>
    	<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
	    <init-param>
	      <param-name>debug</param-name>
	      <param-value>true</param-value>
	    </init-param> 
	    <init-param>
	      <param-name>activeReverseAjaxEnabled</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <init-param>
	      <param-name>initApplicationScopeCreatorsAtStartup</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <init-param>
	      <param-name>maxWaitAfterWrite</param-name>
	      <param-value>100</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
  </servlet>
   
  <servlet>
	  <servlet-name>action</servlet-name>
	  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	  <init-param>
	   <param-name>config</param-name>
	   <param-value>/WEB-INF/struts-config.xml</param-value>
	  </init-param>
	  <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>responseProcessor</servlet-name>
  	<servlet-class>com.beyond.mail.ResponseProcessor</servlet-class>
  </servlet> 
  
  <servlet>
  	<servlet-name>emailTracker</servlet-name>
  	<servlet-class>com.beyond.mail.MailTracker</servlet-class>
  </servlet> 
  
   <servlet>
  	<servlet-name>templateViewer</servlet-name>
  	<servlet-class>com.beyond.template.controller.TemplateViewer</servlet-class>
   </servlet> 
   
  <servlet>
  	<servlet-name>googleDataAction</servlet-name>
  	<servlet-class>com.beyond.dwr.action.GoogleDataAction</servlet-class>
  </servlet> 
  
 <servlet-mapping>
 	<servlet-name>action</servlet-name>
  	<url-pattern>*.do</url-pattern>
 </servlet-mapping>

 
<servlet-mapping>
	<servlet-name>googleDataAction</servlet-name>
 	<url-pattern>/dataFeed</url-pattern>
</servlet-mapping>
  
  <servlet-mapping>
 	<servlet-name>responseProcessor</servlet-name>
  	<url-pattern>/response</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
 	<servlet-name>emailTracker</servlet-name>
  	<url-pattern>/t</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
 	<servlet-name>templateViewer</servlet-name>
  	<url-pattern>/v</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping> 
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  	<jsp-config>
  	   <taglib>
	   <taglib-uri>http://joompal.com/beyondcontact/ui-tags</taglib-uri>
	   <taglib-location>/WEB-INF/tld/beyond-ui.tld</taglib-location>
	   </taglib>
	  <taglib>
	  <taglib-uri>http://joompal.com/beyondcontact/struts-bean</taglib-uri>
	  <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
	  </taglib>
	  <taglib>
	   <taglib-uri>http://joompal.com/beyondcontact/struts-logic</taglib-uri>
	   <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
	  </taglib>
	  <taglib>
	   <taglib-uri>http://joompal.com/beyondcontact/struts-html</taglib-uri>
	   <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
	  </taglib>
	  <taglib>
	   <taglib-uri>http://joompal.com/beyondcontact/struts-nested</taglib-uri>
	   <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
	  </taglib>
	</jsp-config>
	
	<resource-ref>
	  <description>Beyond DB</description>
	  <res-ref-name>jdbc/BEYONDDB</res-ref-name>
	  <res-type> javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	</resource-ref>
	
</web-app>